---
- name: Install Wazuh Agent on Employee Stations
  hosts: employee_stations
  become: yes
  vars:
    wazuh_manager_ip: "wazuh.manager"  # Docker service name
  tasks:
    - name: Import Wazuh GPG key
      shell: curl -s https://packages.wazuh.com/key/GPG-KEY-WAZUH | gpg --no-default-keyring --keyring gnupg-ring:/usr/share/keyrings/wazuh.gpg --import && chmod 644 /usr/share/keyrings/wazuh.gpg
      args:
        creates: /usr/share/keyrings/wazuh.gpg

    - name: Add Wazuh repository
      shell: echo "deb [signed-by=/usr/share/keyrings/wazuh.gpg] https://packages.wazuh.com/4.x/apt/ stable main" | tee /etc/apt/sources.list.d/wazuh.list

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Wazuh Agent
      apt:
        name: wazuh-agent
        state: present

    - name: Deploy Wazuh Agent configuration
      template:
        src: ../templates/ossec.conf.j2
        dest: /var/ossec/etc/ossec.conf
        owner: root
        group: wazuh
        mode: '0640'
      notify: restart wazuh-agent

  handlers:
    - name: restart wazuh-agent
      service:
        name: wazuh-agent
        state: restarted
        enabled: yes

- name: Install Wazuh Agent on Linux Servers
  hosts: linux_servers
  become: yes
  vars:
    wazuh_manager_ip: "wazuh.manager"  # Docker service name
  tasks:
    - name: Import Wazuh GPG key
      shell: curl -s https://packages.wazuh.com/key/GPG-KEY-WAZUH | gpg --no-default-keyring --keyring gnupg-ring:/usr/share/keyrings/wazuh.gpg --import && chmod 644 /usr/share/keyrings/wazuh.gpg
      args:
        creates: /usr/share/keyrings/wazuh.gpg

    - name: Add Wazuh repository
      shell: echo "deb [signed-by=/usr/share/keyrings/wazuh.gpg] https://packages.wazuh.com/4.x/apt/ stable main" | tee /etc/apt/sources.list.d/wazuh.list

    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install Wazuh Agent
      apt:
        name: wazuh-agent
        state: present

    - name: Deploy Wazuh Agent configuration
      template:
        src: ../templates/ossec.conf.j2
        dest: /var/ossec/etc/ossec.conf
        owner: root
        group: wazuh
        mode: '0640'
      notify: restart wazuh-agent

  handlers:
    - name: restart wazuh-agent
      service:
        name: wazuh-agent
        state: restarted
        enabled: yes
